<% if(config['search']['enable']) { %>
    <p class="sidebar-title">搜索</p>
    <div id="site_search">
	<div class="form-group">
		<input type="text" id="local-search-input" name="q" results="0" placeholder="请输入感兴趣的内容" class="st-search-input st-default-search-input form-control"/>
	</div>  
	<div id="local-search-result"></div>
    </div>
<% } %>